::shadow /deep/ .state-icon.notstaged {
  fill: #f57c00;
}

::shadow /deep/ .state-icon.staged {
  fill: #689f38;
}

::shadow /deep/ .state-icon.conflicted {
  fill: #bf360c;
  -webkit-animation: blink 0.6s infinite alternate;
}

::shadow /deep/ .state-icon.untracked {
  fill: #bf360c;
}

::shadow /deep/ .state-icon.ignored {
  fill: #689f38;
}

::shadow /deep/ .action-icon {
  fill: #91a7ff;
}

::shadow /deep/ .file-parent {
  font-size: 0.8em;
  color: rgba(0,0,0,.54);
}
