paper-input {
  width: 90%;
}

paper-input, paper-checkbox {
  display: block;
}

paper-dialog {
  max-width: 40em;
  width: 80vw;
}

paper-button[affirmative] {
  color: #4285f4;
}

.label {
  margin: 0;
  margin-top: 1em;
  font-size: 1.1em;
}