<link rel="import" href="../../third-party/polymer/polymer.html">
<link rel="import" href="../../views/namespace-list/component.html">

<polymer-element name="p2b-neighborhood">
  <template>
    <link rel="stylesheet" href="../common/common.css">
    <h2 page-title>Neighborhood</h2>
    <p>List of PipeToBrowser instances currently published</p>
    <p2b-namespace-list names="{{existingNames}}"></p2b-namespace-list>
  </template>
  <script>
    Polymer('p2b-neighborhood', {
      /*
       * List of existing names to show
       * @type {Array<string>}
       */
      existingNames: [],
    });
    </script>
</polymer-element>