::shadow /deep/ .line-number::before {
  content: '#';
}
::shadow /deep/ .line-number {
  color: rgb(51, 103, 214);
  margin-left: 0.1em;
  font-size: 0.8em;
}

::shadow /deep/ .message-text {
  word-break: break-word;
}

::shadow /deep/ .level-icon.error {
  fill: #e51c23;
}

::shadow /deep/ .level-icon.warning {
  fill: #f57c00;
}

::shadow /deep/ .level-icon.info {
  fill: #689f38;
}

::shadow /deep/ .level-icon.fatal {
  fill: #bf360c;
  -webkit-animation: blink 0.6s infinite alternate;
}
