h3 {
  font-size: 1.0em;
  padding-bottom: 0.2em;
  color: #4285f4;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin-top: 0.2em;
  margin-bottom: 1.5em;
}