.name {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.mono, .code {
  font-size: 1.1em;
  font-family: monospace;
}

.code {
  background-color: #222;
  color: #fafafa;
  padding: 1em;
  white-space: normal;
  word-break: break-all;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
  color: rgb(51, 103, 214);
  margin-bottom: 0.5em;
}

a {
  color: #5677fc;
  text-decoration: none;
}