core-toolbar {
  background-color: rgba(0, 0, 0, 0.10);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  font-size: 1em;
  height: 48px;
}

core-toolbar::shadow .toolbar-tools {
  height: 48px;
}