:host {
  background-image: url('broken_robot.png');
  background-repeat: no-repeat;
  background-position: right 50%;
  min-height: 300px;
  width: 100%;
  max-width: 600px;
  display: block;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 0.9em;
  color: rgba(0,0,0,0.54);
  margin-right: 100px;
}